---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 style="color: #d6d6d6">Hello, Friend!</h1>
			<p> Welcome to my new site! I built the site using 
			<a href="https://astro.build/">Astro</a>,
			styled using 
			<a href="https://tailwindcss.com">Tailwind</a>, 
			and deployed on 
			<a href="https://vercel.com">Vercel</a>.
			</p>
			<p>Here's why I'm making this site:</p>
			<ul>
				<li>To reflect on my learnings as a developer</li>
				<li>To share what I'm doing with people</li>
				<li>To improve my typing and written communication skills</li>
			</ul>
			<p>
		  Thanks for stopping by! Feel free to checkout my blog and links above!
			</p>
		</main>
		<Footer />
	</body>
</html>
