---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1 style="color: #94a3b8">Hello, Friend!</h1>
      <p>
        My name is sid, aka sharkbyte. Welcome to my website that I built it
        using
        <a href="https://astro.build/" target="_blank">Astro</a>!
      </p>
      <p>
        I want to keep this site simple for now, but here are some things that I
        want to try and improve:
      </p>
      <ul style="">
        <li>Better looking blog links on the blog</li>
        <li>More color and better style in general</li>
        <li>
          Some sort of way to publish blogs directly without having to deploy
        </li>
      </ul>
    </main>
    <p>
      <strong style="color:#d6d6d6 ">Thanks for stopping by!</strong> Feel free to
      checkout my blog and links above!
    </p>

    <Footer />
  </body>
</html>
